<%= link_to '< Back', admin_projects_path %>

<%= form_for [:admin, @project] do |f| %>
  <%= render 'shared/error_messages', object: f.object %>
  <p><%= f.label "Type"%> <br />
  		<%= 
  			collection_select(:project, 
  			:category_id, 
  			Category.order(:name).all, 
  			:id, 
  			:name, 
  			{:prompt => "Select a Category"},
        id: "project[category_id]"
        ) 
		  %>
  </p>
  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.label :description %><br />
    <%= f.text_area :description %>
  </p>
  
  <p>
    <%= f.label :year %><br />
    <%= f.select :year, (Time.zone.now.year - 16)..(Time.zone.now.year) %>
  </p>
  
  <div id="DialogContainer">
    <div id="Dialog">
      <div id="UploadsBrowser"></div>
    </div>
  </div>
  
  <% if @project.id %>
  <%= f.label "Make this Project public?"%>
  <%= f.check_box :public %>
  <br />
  <p><%= button_tag "Add Photo's", id: "AttachPhotos", data: { project_id: @project.id } %></p>
  <% end %>
  
  <p><%= f.submit %></p>
  
<% end %>

<%= link_to '< Back', admin_projects_path %>